MONGODB_URL=mongodb://localhost:27017/
MONGODB_DB_NAME=AIChatBuilder
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ENCRYPTION_KEY=9egQsm7W5JU70uG34jE23gMXYxYh0M5Umt5jOo0suj4=
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
MAX_UPLOAD_SIZE=10485760
UPLOAD_DIR=./uploads
RATE_LIMIT_PER_MINUTE=100
RATE_LIMIT_PER_MINUTE_AUTH=1000
ENVIRONMENT=development


#Groq
GROQ_API_KEY=your-groq-api-key-change-this
GROQ_API_SECRET=your-groq-api-secret-change-this
GROQ_API_BASE_URL=https://api.groq.com


#Google
GOOGLE_API_KEY=your-google-api-key-change-this